body{
background: linear-gradient(to right, lightgreen, teal);
ont-family: Verdana;
margin:0;
}
header{
background:rgba(0,0,0,.2);
grid-area:header;
}
header h1{
color:mediumspringgreen; 
text-shadow: 2px 2px 5px navy;
}
header h3{
Color:navy;
}
nav a{
color:navy;
}
main  h2{
color:navy;
}
main p, footer p{
Color:white;
}
main p{
color:white;
}
footer p{
color:white;
}
nav{
background:rgba(0,0,0,.2);
grid-area:nav;
}
main{
grid-area:main;
padding:5px;
background:rgba(0,0,0,.2);
}
footer{
background:rgba(0,0,0,.2);
grid-area:footer;
}
.grid {
display:grid;
grid-template-columns:25% auto;
grid-template-areas:
"header header"
"nav main"
"footer footer";
}
