body{
background: linear-gradient(to right, lightgreen, teal);
ont-family: Verdana;
margin:0;
}
header{
background:rgba(0,0,0,.2);
grid-area:header;
}
header h1{
color:mediumspringgreen; 
text-shadow: 2px 2px 5px navy;
font-size: 5vw;
}
header h3{
Color:navy;
font-size: 2vw;
}
nav a{
color:navy;
}
nav li{
font-size: 1.5em;
}
main  h2{
color:navy;
font-size: 3em;
}
main p{
color:white;
font-size: 1em;
}
footer p{
color:white;
font-size: 1em;
}
nav{
background:rgba(0,0,0,.2);
grid-area:nav;
}
main{
grid-area:main;
padding:5px;
background:rgba(0,0,0,.2);
}
footer{
background:rgba(0,0,0,.2);
grid-area:footer;
}
.grid {
display:grid;
grid-template-columns:25% auto;
grid-template-areas:
"header header"
"nav main"
"footer footer";
}
