body{
background: linear-gradient(to right, lightgreen, teal);
font-family: Verdana;
margin:0;
}
header{
background:rgba(0,0,0,.2);
grid-area:header;
}
header h1{
color:mediumspringgreen; 
text-shadow: 2px 2px 5px navy;
font-size: 5vw;
text-align: center;
font-family: Verdana;
margin:0;
}
header h3{
Color:navy;
font-size: 2vw;
text-align: center;
margin:0;
}
nav a{
text-decoration:none;
color:navy;
}
a:hover {
color:white;
}
nav li{
font-size: 1.5em;
padding:10px 10px;
list-style-type:none;
font-size:1.5em;
font-weight:bold;
}
nav ul{
padding:10px;
margin:0;
}
main  h2{
color:navy;
font-size: 2em;
text-align: center;
}
main p{
color:white;
font-size: 1em;
}
footer p{
color:white;
font-size: 1em;
text-align: center;
}
nav{
background:rgba(0,0,0,.2);
grid-area:nav;
width: auto;
}
main{
grid-area:main;
padding:5px;
background:rgba(0,0,0,.2);
}
footer{
background:rgba(0,0,0,.2);
grid-area:footer;
}
.grid {
grid-gap:.5em; 
display:grid;
grid-template-columns:auto 1fr;
margin:1%;
grid-template-areas:
"header header"
"nav main"
"footer footer";
}
